@model Productos
@{
    ViewData["Title"] = "AgregarProducto";
    DatosProveedor datos = new DatosProveedor();
    DatosProductos productos = new DatosProductos();
    ViewBag.Productos = productos.Productos;
    int i = 0;
    ViewBag.IDProveedor = datos.Proveedores;
}

<h1>Agregar Producto</h1>
<hr />
<br />
@if (ViewBag.IDProveedor.Count == 0)
{
    <div class="text-center">
        <a class="alert-link" asp-controller="Proveedores" asp-action="AgregarProveedor">No tienes proveedores de producto,  ¿Deseas agregar uno?</a>
    </div>
}
<div class="col-5">
    <form method="post" asp-controller="Productos" asp-action="AgregarProducto">

        @if (ViewBag.Productos.Count >= 0)
        {
            i = ViewBag.Productos.Count + 1;
            <div class="form-group">
                <h5>Codigo</h5>
                <input class="form-control" value="@i" asp-for="ID" readonly required />
            </div>
        }
        else if (ViewBag.Productos.Count < 0)
        {
            <div class="form-group">
                <h5>Codigo</h5>
                <input class="form-control" value="0" asp-for="ID" readonly required />
            </div>
        }

        <div class="form-group">
            <h5>Nombre</h5>
            <input class="form-control" asp-for="NOMBRE" required />
        </div>
        <div class="form-group">
            <h5>Descripcion</h5>
            <textarea asp-for="DESCRIPCION" class="form-control" rows="3" maxlength="50" placeholder="Descripcion del articulo" required></textarea>
        </div>
        <div class="form-group">
            <h5>Fecha de Vencimiento</h5>
            <input asp-for="FECHA_VENC" class="form-control" type="date" required />
        </div>
        <div class="form-group">
            <h5>Nombre del Proveedor</h5>
            <select asp-for="ID_PROVEEDOR" class="form-control" required>
                @foreach (var Datos in (List<Proveedores>)ViewBag.IDProveedor)
                {
                    <option value="@Datos.ID">@Datos.NOMBRE </option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>

